body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.accordion{
  background:#0f172a;
  color:white;
  padding:20px;
  width:300px;
  border-radius:12px;
}

button{
  width:100%;
  padding:10px;
  margin-top:8px;
  border:none;
  border-radius:6px;
  text-align:left;
  cursor:pointer;
}

.panel{
  display:none;
  padding:10px;
  background:#1e293b;
  border-radius:6px;
  margin-top:4px;
}
